@media only screen and (max-width: 400px) {
    * {
        color: #707070;
        font-family: 'Source Sans Pro', sans-serif;
    }
    body {
        .timesContainer{
            display: flex;
            justify-content: space-between;
            padding: 60px;
            .clockContainer{
                display: flex;
                justify-content: space-evenly;
                img{
                    display: inline-block;
                    padding-top: 5px;
                }
            }
        }
        .NavOuter{
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 65%;
            background-color: whitesmoke;
            top: 0px;
            left: 0px;
            transition-property: all;
            transition-duration: 1s;
            .contactBtn{
                float: right;
                background-color: whitesmoke;
                border: none;
            }
        }
        .NavOuter:hover{
            transform: translate(50px,0px);
        }
        .btnContainer{
            display: flex;
            justify-content: space-evenly;
            .locateBtn{
                appearance: none;
                background-color: #009BDE;
                border: none;
                padding: 20px;
                border-radius: 27px;
                color: white;
                width: 148px;
            }
            .locateBtn:focus {
                outline: none;
            }
        }
        .navTContainer{
            display: flex;
            justify-content: center;
            .navText{
                display: inline-block;
            }
        }
        .navInner{
            .navContainer{
                display: flex;
                justify-content: space-between;
                padding: 35px;
                padding-bottom: 5px;
                .navBtn{
                    background: none;
                    border: none;
                    z-index: 2;
                }
                button:focus{
                    outline: none;
                }
            }
        }
    }
  }
  .inline-block{
    display: inline-block;
  }