.button {
    padding: 15px 25px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-weight: light;
    border-radius: 100px;
    font-size: 16px;
    appearance: none;
    border: none;
    transition: opacity 0.3s;
    cursor: pointer;

    &:hover { opacity: .8 }
}