.nav {
    position: fixed;
    left: 0; top: 0;
    width: 100vw; height: 100vh;
    display: flex;

    .bar {
        $height: 95px;

        width: 100%;
        height: $height;
        align-self: flex-start;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: $dark;
        padding: 10px;
        box-sizing: border-box;

        @include up($lg) {
            .hamburger { display: none }
        }

        .items {
            display: flex;

            @include down($lg - 1) {
                position: absolute;
                left: 0;
                top: $height;
                width: 100vw;
                height: calc(100vh - #{$height});
                background-color: $dark;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                transition: opacity 0.3s;

                &:not(.active) { 
                    opacity: 0; 
                    pointer-events: none;
                }
            }

            @include up($lg) {
                justify-self: center;
                flex-direction: row;
                justify-content: space-around;
            }

            .item {
                line-height: 32px;
                margin: 10px;
                color: white;
            }
        }

        .logo {
            justify-self: flex-start;
            height: $height - 20px;
            display: block;
        }
    }


}